In [45]:
import pandas as pd
import numpy as np

# Load the dataset
file_path = 'output.csv'

In [46]:
# Load the dataset without specifying usecols
df = pd.read_csv(file_path)

# Display all column names
columns_list = df.columns.tolist()

# Print all column names one by one to avoid truncation
for col in columns_list:
    print(col)

_STATE
FMONTH
IDATE
IMONTH
IDAY
IYEAR
DISPCODE
SEQNO
_PSU
CTELENM1
PVTRESD1
COLGHOUS
STATERE1
CELPHON1
LADULT1
NUMADULT
RESPSLC1
LANDSEX2
LNDSXBRT
SAFETIME
CTELNUM1
CELLFON5
CADULT1
CELLSEX2
CELSXBRT
PVTRESD3
CCLGHOUS
CSTATE1
LANDLINE
HHADULT
SEXVAR
GENHLTH
PHYSHLTH
MENTHLTH
POORHLTH
PRIMINS1
PERSDOC3
MEDCOST1
CHECKUP1
EXERANY2
EXRACT12
EXEROFT1
EXERHMM1
EXRACT22
EXEROFT2
EXERHMM2
STRENGTH
BPHIGH6
BPMEDS1
CHOLCHK3
TOLDHI3
CHOLMED3
CVDINFR4
CVDCRHD4
CVDSTRK3
ASTHMA3
ASTHNOW
CHCSCNC1
CHCOCNC1
CHCCOPD3
ADDEPEV3
CHCKDNY2
HAVARTH4
DIABETE4
DIABAGE4
MARITAL
EDUCA
RENTHOM1
NUMHHOL4
NUMPHON4
CPDEMO1C
VETERAN3
EMPLOY1
CHILDREN
INCOME3
PREGNANT
WEIGHT2
HEIGHT3
DEAF
BLIND
DECIDE
DIFFWALK
DIFFDRES
DIFFALON
FALL12MN
FALLINJ5
SMOKE100
SMOKDAY2
USENOW3
ECIGNOW2
ALCDAY4
AVEDRNK3
DRNK3GE5
MAXDRNKS
FLUSHOT7
FLSHTMY3
PNEUVAC4
SHINGLE2
HIVTST7
HIVTSTD3
SEATBELT
DRNKDRI2
COVIDPO1
COVIDSM1
COVIDACT
PDIABTS1
PREDIAB2
DIABTYPE
INSULIN1
CHKHEMO3
EYEEXAM1
DIABEYE1
DIABEDU1
FEETSORE
ARTHEXER
ARTHEDU
LMTJOIN3
ARTHDIS2
JOINPAI2
LCSFIRST
LCSLAST
LCSNUMCG
LCSCTSC1
LCSSCNCR
LCSCTWHN
HADMAM
HOWLONG
CERVSCRN
CRVCLCNC
CRVCLPAP
CRVCLHPV
HADHYST2
PSATEST1
PSATIME1
PCPSARS2
PSASUGS1
PCSTALK2
HADSIGM4
COLNSIGM
COLNTES1
SIGMTES1
LASTSIG4
COLNCNCR
VIRCOLO1
VCLNTES2
SMALSTOL
STOLTEST
STOOLDN2
BLDSTFIT
SDNATES1
CNCRDIFF
CNCRAGE
CNCRTYP2
CSRVTRT3
CSRVDOC1
CSRVSUM
CSRVRTRN
CSRVINST
CSRVINSR
CSRVDEIN
CSRVCLIN
CSRVPAIN
CSRVCTL2
INDORTAN
NUMBURN3
SUNPRTCT
WKDAYOUT
WKENDOUT
CIMEMLO1
CDWORRY
CDDISCU1
CDHOUS1
CDSOCIA1
CAREGIV1
CRGVREL4
CRGVLNG1
CRGVHRS1
CRGVPRB3
CRGVALZD
CRGVPER1
CRGVHOU1
CRGVEXPT
LASTSMK2
STOPSMK2
MENTCIGS
MENTECIG
HEATTBCO
FIREARM5
GUNLOAD
LOADULK2
HASYMP1
HASYMP2
HASYMP3
HASYMP4
HASYMP5
HASYMP6
STRSYMP1
STRSYMP2
STRSYMP3
STRSYMP4
STRSYMP5
STRSYMP6
FIRSTAID
ASPIRIN
BIRTHSEX
SOMALE
SOFEMALE
TRNSGNDR
MARIJAN1
MARJSMOK
MARJEAT
MARJVAPE
MARJDAB
MARJOTHR
USEMRJN4
ACEDEPRS
ACEDRINK
ACEDRUGS
ACEPRISN
ACEDIVRC
ACEPUNCH
ACEHURT1
ACESWEAR
ACETOUCH
ACETTHEM
ACEHVSEX
ACEADSAF
ACEADNED
IMFVPLA4
HPVADVC4
HPVADSHT
TETANUS1
COVIDVA1
COVACGE1
COVIDNU2
LSATISFY
EMTSUPRT
SDLONELY
SDHEMPLY
FOODSTMP
SDHFOOD1
SDHBILLS
SDHUTILS
SDHTRNSP
SDHSTRE1
RRCLASS3
RRCOGNT2
RRTREAT
RRATWRK2
RRHCARE4
RRPHYSM2
RCSGEND1
RCSXBRTH
RCSRLTN2
CASTHDX2
CASTHNO2
QSTVER
QSTLANG
_METSTAT
_URBSTAT
MSCODE
_STSTR
_STRWT
_RAWRAKE
_WT2RAKE
_IMPRACE
_CHISPNC
_CRACE1
CAGEG
_CLLCPWT
_DUALUSE
_DUALCOR
_LLCPWT2
_LLCPWT
_RFHLTH
_PHYS14D
_MENT14D
_HLTHPL1
_HCVU653
_TOTINDA
METVL12_
METVL22_
MAXVO21_
FC601_
ACTIN13_
ACTIN23_
PADUR1_
PADUR2_
PAFREQ1_
PAFREQ2_
_MINAC12
_MINAC22
STRFREQ_
PAMISS3_
PAMIN13_
PAMIN23_
PA3MIN_
PAVIG13_
PAVIG23_
PA3VIGM_
_PACAT3
_PAINDX3
_PA150R4
_PA300R4
_PA30023
_PASTRNG
_PAREC3
_PASTAE3
_RFHYPE6
_CHOLCH3
_RFCHOL3
_MICHD
_LTASTH1
_CASTHM1
_ASTHMS1
_DRDXAR2
_MRACE1
_HISPANC
_RACE
_RACEG21
_RACEGR3
_RACEPRV
_SEX
_AGEG5YR
_AGE65YR
_AGE80
_AGE_G
HTIN4
HTM4
WTKG3
_BMI5
_BMI5CAT
_RFBMI5
_CHLDCNT
_EDUCAG
_INCOMG1
_SMOKER3
_RFSMOK3
_CURECI2
DRNKANY6
DROCDY4_
_RFBING6
_DRNKWK2
_RFDRHV8
_FLSHOT7
_PNEUMO3
_AIDTST4
_RFSEAT2
_RFSEAT3
_DRNKDRV

In [47]:
# Define the complete list of relevant columns for analysis
columns_of_interest = [
    'MENTHLTH', '_AGEG5YR', '_AGE65YR', '_RACEGR3', 'EDUCA', '_EDUCAG',
    'INCOME3', '_INCOMG1', 'MARITAL', 'EMPLOY1', '_TOTINDA', 'EXERANY2',
    '_RFSMOK3', 'SMOKE100', 'SMOKDAY2', 'DRNK3GE5', 'MAXDRNKS', 'ALCDAY4',
    'AVEDRNK3', 'GENHLTH', 'PHYSHLTH', 'POORHLTH', 'DIABETE4', 'CHCSCNC1',
    'CHCOCNC1', 'CHCCOPD3', 'FLUSHOT7', 'HIVTST7'
]
# Load the dataset with only the relevant columns
cleaning_df = pd.read_csv(file_path, usecols=columns_of_interest)

In [48]:
# Check data types
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Columns: 350 entries, _STATE to _DRNKDRV
dtypes: float64(345), int64(5)
memory usage: 1.1 GB
None

In [49]:
# Get summary statistics
print(df.describe())

              _STATE         FMONTH         IDATE         IMONTH  \
count  433323.000000  433323.000000  4.333230e+05  433323.000000
mean       30.486898       6.612273  6.809769e+06       6.652947
std        16.670560       3.518848  3.429094e+06       3.428158
min         1.000000       1.000000  1.012024e+06       1.000000
25%        18.000000       3.000000  4.042023e+06       4.000000
50%        29.000000       7.000000  7.072023e+06       7.000000
75%        45.000000      10.000000  1.006202e+07      10.000000
max        78.000000      12.000000  1.231202e+07      12.000000

                IDAY          IYEAR       DISPCODE         SEQNO  \
count  433323.000000  433323.000000  433323.000000  4.333230e+05
mean       15.479848    2023.058411    1117.783963  2.023005e+09
std         8.671355       0.234520      38.237812  4.455869e+03
min         1.000000    2023.000000    1100.000000  2.023000e+09
25%         8.000000    2023.000000    1100.000000  2.023002e+09
50%        15.000000    2023.000000    1100.000000  2.023004e+09
75%        23.000000    2023.000000    1100.000000  2.023008e+09
max        31.000000    2024.000000    1200.000000  2.023026e+09

               _PSU  CTELENM1  ...       DROCDY4_       _RFBING6  \
count  4.333230e+05   88345.0  ...  433323.000000  433323.000000
mean   2.023005e+09       1.0  ...      77.469760       1.739282
std    4.455869e+03       0.0  ...     225.612523       2.123753
min    2.023000e+09       1.0  ...       0.000000       1.000000
25%    2.023002e+09       1.0  ...       0.000000       1.000000
50%    2.023004e+09       1.0  ...       3.000000       1.000000
75%    2.023008e+09       1.0  ...      29.000000       1.000000
max    2.023026e+09       1.0  ...     900.000000       9.000000

            _DRNKWK2       _RFDRHV8       _FLSHOT7       _PNEUMO3  \
count  433323.000000  433323.000000  170823.000000  170823.000000
mean     7826.638676       1.660750       2.138272       2.270057
std     26371.148838       2.113355       2.368834       2.618224
min         0.000000       1.000000       1.000000       1.000000
25%         0.000000       1.000000       1.000000       1.000000
50%        47.000000       1.000000       1.000000       1.000000
75%       400.000000       1.000000       2.000000       2.000000
max     99900.000000       9.000000       9.000000       9.000000

            _AIDTST4       _RFSEAT2       _RFSEAT3       _DRNKDRV
count  403710.000000  433323.000000  433323.000000  433323.000000
mean        2.028681       1.633470       1.698735       5.565327
std         1.686731       2.074538       2.069306       3.515690
min         1.000000       1.000000       1.000000       1.000000
25%         1.000000       1.000000       1.000000       2.000000
50%         2.000000       1.000000       1.000000       9.000000
75%         2.000000       1.000000       1.000000       9.000000
max         9.000000       9.000000       9.000000       9.000000

[8 rows x 350 columns]

In [50]:
#save as a csv 
cleaning_df.to_csv('cleaned_brfss_2023.csv', index=False)

In [51]:
# Load the dataset
picked_features_df = pd.read_csv('cleaned_brfss_2023.csv')

In [52]:
# Drop rows with missing values for features with small amounts of missing data
small_missing_features = ['GENHLTH', 'MENTHLTH', 'CHCSCNC1', 'CHCOCNC1', 'CHCCOPD3', 'DIABETE4', 'PHYSHLTH']
features_cleaned = picked_features_df.dropna(subset=small_missing_features)

In [53]:
# Impute missing values for features with moderate missing data using median or mode
# Use median for numerical columns and mode for categorical ones
features_cleaned['SMOKE100'].fillna(features_cleaned['SMOKE100'].mode()[0], inplace=True)
features_cleaned['ALCDAY4'].fillna(features_cleaned['ALCDAY4'].median(), inplace=True)
features_cleaned['INCOME3'].fillna(features_cleaned['INCOME3'].mode()[0], inplace=True)
features_cleaned['AVEDRNK3'].fillna(features_cleaned['AVEDRNK3'].median(), inplace=True)
features_cleaned['DRNK3GE5'].fillna(features_cleaned['DRNK3GE5'].median(), inplace=True)
features_cleaned['FLUSHOT7'].fillna(features_cleaned['FLUSHOT7'].mode()[0], inplace=True)
features_cleaned['HIVTST7'].fillna(features_cleaned['HIVTST7'].mode()[0], inplace=True)

/Users/baderrezek/miniconda3/envs/CS418/lib/python3.12/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [54]:
print(features_cleaned.columns)

# Verify the cleaning
print(features_cleaned.isnull().sum())

# Save the cleaned dataset if needed
features_cleaned.to_csv('cleaned_brfss_handled_missing.csv', index=False)

Index(['GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'EXERANY2', 'CHCSCNC1',
       'CHCOCNC1', 'CHCCOPD3', 'DIABETE4', 'MARITAL', 'EDUCA', 'EMPLOY1',
       'INCOME3', 'SMOKE100', 'SMOKDAY2', 'ALCDAY4', 'AVEDRNK3', 'DRNK3GE5',
       'MAXDRNKS', 'FLUSHOT7', 'HIVTST7', '_TOTINDA', '_RACEGR3', '_AGEG5YR',
       '_AGE65YR', '_EDUCAG', '_INCOMG1', '_RFSMOK3'],
      dtype='object')
GENHLTH          0
PHYSHLTH         0
MENTHLTH         0
POORHLTH    181149
EXERANY2         0
CHCSCNC1         0
CHCOCNC1         0
CHCCOPD3         0
DIABETE4         0
MARITAL          2
EDUCA            4
EMPLOY1       2962
INCOME3          0
SMOKE100         0
SMOKDAY2    274675
ALCDAY4          0
AVEDRNK3         0
DRNK3GE5         0
MAXDRNKS    222029
FLUSHOT7         0
HIVTST7          0
_TOTINDA         0
_RACEGR3        86
_AGEG5YR         0
_AGE65YR         0
_EDUCAG          0
_INCOMG1         0
_RFSMOK3         0
dtype: int64

# Renaming the Categorical Vars:

In [55]:
# Load the cleaned dataset

cleaned_df = pd.read_csv('cleaned_brfss_handled_missing.csv')

In [56]:
# changing: 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'EXERANY2', 'CHCSCNC1', 'CHCOCNC1', 'CHCCOPD3', 'DIABETE4', 'MARITAL', 'EDUCA', 'EMPLOY1', 'INCOME3', 'SMOKE100', 'SMOKDAY2', 'ALCDAY4', 'AVEDRNK3', 'DRNK3GE5', 'MAXDRNKS', 'FLUSHOT7', 'HIVTST7', '_TOTINDA', '_RACEGR3', '_AGEG5YR', '_AGE65YR', '_EDUCAG', '_INCOMG1', '_RFSMOK3'

# changing GENHLTH values: 1: Excellent, 2: Very good, 3: Good, 4: Fair, 5: Poor, 7: Not sure, 9: Refused, Blank: Missing
cleaned_df['GENHLTH'] = cleaned_df['GENHLTH'].replace({1: 'Excellent', 2: 'Very good', 3: 'Good', 4: 'Fair', 5: 'Poor', 7: 'Not sure', 9: 'Refused'})

genhlth_order = ['Excellent', 'Very good', 'Good', 'Fair', 'Poor']
cleaned_df['GENHLTH'] = pd.Categorical(cleaned_df['GENHLTH'], categories=genhlth_order, ordered=True)

# changing MENTHLTH values: 88: None, 77: Not sure, 99: Refused
cleaned_df['MENTHLTH'] = cleaned_df['MENTHLTH'].replace({88: 'Not sure', 77: 'Refused', 99: 'Refused'})

# changing PHYSHLTH values: 88: None, 77: Not sure, 99: Refused
cleaned_df['PHYSHLTH'] = cleaned_df['PHYSHLTH'].replace({88: 'Not sure', 77: 'Refused', 99: 'Refused'})

# changing POORHLTH values: 88: None, 77: Not sure, 99: Refused
cleaned_df['POORHLTH'] = cleaned_df['POORHLTH'].replace({88: 'Not sure', 77: 'Refused', 99: 'Refused'})

# changing EXERANY2 values: 1: Yes, 2: No, 7: Not sure, 9: Refused
cleaned_df['EXERANY2'] = cleaned_df['EXERANY2'].replace({1: 'Yes', 2: 'No', 7: 'Not sure', 9: 'Refused'})

# changing CHCSCNC1 values: 1: Yes, 2: No, 7: Not sure, 9: Refused
cleaned_df['CHCSCNC1'] = cleaned_df['CHCSCNC1'].replace({1: 'Yes', 2: 'No', 7: 'Not sure', 9: 'Refused'})

# changing CHCOCNC1 values: 1: Yes, 2: No, 7: Not sure, 9: Refused
cleaned_df['CHCOCNC1'] = cleaned_df['CHCOCNC1'].replace({1: 'Yes', 2: 'No', 7: 'Not sure', 9: 'Refused'})

# changing CHCCOPD3 values: 1: Yes, 2: No, 7: Not sure, 9: Refused
cleaned_df['CHCCOPD3'] = cleaned_df['CHCCOPD3'].replace({1: 'Yes', 2: 'No', 7: 'Not sure', 9: 'Refused'})

# changing DIABETE4 values: 1: Yes, 2: Yes, but female told only during pregnancy, 3: No, 4: No, pre-diabetes or borderline diabetes , 7: Not sure, 9: Refused
cleaned_df['DIABETE4'] = cleaned_df['DIABETE4'].replace({1: 'Yes', 2: 'Yes, but female told only during pregnancy', 3: 'No', 4: 'No, pre-diabetes or borderline diabetes', 7: 'Not sure', 9: 'Refused'})

# changing MARITAL values: 1: Married, 2: Divorced, 3: Widowed, 4: Separated, 5: Never married, 6: A member of an unmarried couple, 9: Refused
cleaned_df['MARITAL'] = cleaned_df['MARITAL'].replace({1: 'Married', 2: 'Divorced', 3: 'Widowed', 4: 'Separated', 5: 'Never married', 6: 'A member of an unmarried couple', 9: 'Refused'})

# changing EDUCA values: 
#   1: Never attended school or only kindergarten, 
#   2: Grades 1 through 8 (Elementary), 
#   3: Grades 9 through 11 (Some high school), 
#   4: Grade 12 or GED (High school graduate), 
#   5: College 1 year to 3 years (Some college or technical school), 
#   6: College 4 years or more (College graduate), 
#   9: Refused
cleaned_df['EDUCA'] = cleaned_df['EDUCA'].replace({1: 'Never attended school or only kindergarten', 2: 'Grades 1 through 8 (Elementary)', 3: 'Grades 9 through 11 (Some high school)', 4: 'Grade 12 or GED (High school graduate)', 5: 'College 1 year to 3 years (Some college or technical school)', 6: 'College 4 years or more (College graduate)', 9: 'Refused'})

educa_order = ['Never attended school or only kindergarten', 'Grades 1 through 8 (Elementary)',
               'Grades 9 through 11 (Some high school)', 'Grade 12 or GED (High school graduate)', 
               'College 1 year to 3 years (Some college or technical school)', 
               'College 4 years or more (College graduate)']

cleaned_df['EDUCA'] = pd.Categorical(cleaned_df['EDUCA'], categories=educa_order, ordered=True)


# changing EMPLOY1 values: 
#   1: Employed for wages, 
#   2: Self-employed,
#   3: Out of work for 1 year or more, 
#   4: Out of work for less than 1 year, 
#   5: A homemaker, 
#   6: A student, 
#   7: Retired, 
#   8: Unable to work, 
#   9: Refused
cleaned_df['EMPLOY1'] = cleaned_df['EMPLOY1'].replace({1: 'Employed for wages', 2: 'Self-employed', 3: 'Out of work for 1 year or more', 4: 'Out of work for less than 1 year', 5: 'A homemaker', 6: 'A student', 7: 'Retired', 8: 'Unable to work', 9: 'Refused'})

# changing INCOME3 values:
#   1: Less than $10,000,
#   2: Less than $15,000
#   3: Less than $20,000
#   4: Less than $25,000
#   5: Less than $35,000
#   7: Less than $50,000
#   8: Less than $75,000
#   9: Less than $100,000
#   10: Less than $150,000
#   11: Less than $200,000
#   12: $200,000 or more
#   77: Not sure
#   99: Refused
cleaned_df['INCOME3'] = cleaned_df['INCOME3'].replace({1: 'Less than $10,000', 2: 'Less than $15,000', 3: 'Less than $20,000', 4: 'Less than $25,000', 5: 'Less than $35,000', 7: 'Less than $50,000', 8: 'Less than $75,000', 9: 'Less than $100,000', 10: 'Less than $150,000', 11: 'Less than $200,000', 12: '$200,000 or more', 77: 'Not sure', 99: 'Refused'})

income_order = ['Less than $10,000', 'Less than $15,000', 'Less than $20,000', 
                'Less than $25,000', 'Less than $35,000', 'Less than $50,000', 
                'Less than $75,000', 'Less than $100,000', 'Less than $150,000', 
                'Less than $200,000', '$200,000 or more']

cleaned_df['INCOME3'] = pd.Categorical(cleaned_df['INCOME3'], categories=income_order, ordered=True)


# changing SMOKE100 values: 1: Yes, 2: No, 7: Not sure, 9: Refused
cleaned_df['SMOKE100'] = cleaned_df['SMOKE100'].replace({1: 'Yes', 2: 'No', 7: 'Not sure', 9: 'Refused'})

# changing SMOKDAY2 values:
#   1: Every day,
#   2: Some days,
#   3: Not at all,
#   7: Not sure,
#   9: Refused
cleaned_df['SMOKDAY2'] = cleaned_df['SMOKDAY2'].replace({1: 'Every day', 2: 'Some days', 3: 'Not at all', 7: 'Not sure', 9: 'Refused'})

# changing ALCDAY4 values:
#   if 101-199: Number of drinks in past week (calculated by number - 100)
#   if 201-299: Number of drinks in past month (calculated by number - 200)
#   777: Not sure
#   888: No drinks in past week
#   999: Refused
#   To better calculate the average number of drinks per day, we will convert the values that are in the range 201-299 to the equivalent number of drinks per week by subtracting 100 and then dividing by 4.34524 (average number of weeks in a month). 
#   We will also convert the values that are in the range 101-199 to the equivalent number of drinks per week by subtrcting 100
cleaned_df['ALCDAY4'] = cleaned_df['ALCDAY4'].apply(lambda x: (x - 200) / 4.34524 if x >= 201 and x <= 299 else x - 100 if x >= 101 and x <= 199 else x)

# changing AVEDRNK3 values:
#   if 1- 76: Number of drinks per day
#   77: Not sure
#   88: None
#   99: Refused
cleaned_df['AVEDRNK3'] = cleaned_df['AVEDRNK3'].replace({77: 'Not sure', 88: 'None', 99: 'Refused'})

# changing DRNK3GE5 values:
#   if 1-76: Number of times in past 30 days drank 5 or more drinks (men) or 4 or more drinks (women)
#   77: Not sure
#   88: None
#   99: Refused
cleaned_df['DRNK3GE5'] = cleaned_df['DRNK3GE5'].replace({77: 'Not sure', 88: 'None', 99: 'Refused'})


# changing MAXDRNKS values:
#   if 1-76: Max num of drinks on any occasion
#   77: Not sure
#   88: Invalid response
#   99: Refused
cleaned_df['MAXDRNKS'] = cleaned_df['MAXDRNKS'].replace({77: 'Not sure', 88: 'Invalid response', 99: 'Refused'})

# changing FLUSHOT7 values: 1: Yes, 2: No, 7: Not sure, 9: Refused
cleaned_df['FLUSHOT7'] = cleaned_df['FLUSHOT7'].replace({1: 'Yes', 2: 'No', 7: 'Not sure', 9: 'Refused'})

# changing HIVTST7 values: 1: Yes, 2: No, 7: Not sure, 9: Refused
cleaned_df['HIVTST7'] = cleaned_df['HIVTST7'].replace({1: 'Yes', 2: 'No', 7: 'Not sure', 9: 'Refused'})

# changing _TOTINDA values: 1: Yes, 2: No, 9: Not sure/Refused/Missing
cleaned_df['_TOTINDA'] = cleaned_df['_TOTINDA'].replace({1: 'Yes', 2: 'No', 9: 'Not sure/Refused/Missing'})

# changing _RACEGR3 values: 
#   1: White only, Non-Hispanic, 
#   2: Black only, Non-Hispanic,
#   3: Other race only, Non-Hispanic,
#   4: Multiracial, Non-Hispanic,
#   5: Hispanic,
#   9: Not sure/Refused
cleaned_df['_RACEGR3'] = cleaned_df['_RACEGR3'].replace({1: 'White only, Non-Hispanic', 2: 'Black only, Non-Hispanic', 3: 'Other race only, Non-Hispanic', 4: 'Multiracial, Non-Hispanic', 5: 'Hispanic', 9: 'Not sure/Refused'})

# changing _AGEG5YR values:
#   1: 18-24 years,
#   2: 25-29 years,
#   3: 30-34 years,
#   4: 35-39 years,
#   5: 40-44 years,
#   6: 45-49 years,
#   7: 50-54 years,
#   8: 55-59 years,
#   9: 60-64 years,
#   10: 65-69 years,
#   11: 70-74 years,
#   12: 75-79 years,
#   13: 80 or older
#   14: Not sure/Refused/Missing
cleaned_df['_AGEG5YR'] = cleaned_df['_AGEG5YR'].replace({1: '18-24 years', 2: '25-29 years', 3: '30-34 years', 4: '35-39 years', 5: '40-44 years', 6: '45-49 years', 7: '50-54 years', 8: '55-59 years', 9: '60-64 years', 10: '65-69 years', 11: '70-74 years', 12: '75-79 years', 13: '80 or older', 14: 'Not sure/Refused/Missing'})

age_order = ['18-24 years', '25-29 years', '30-34 years', '35-39 years', '40-44 years',
             '45-49 years', '50-54 years', '55-59 years', '60-64 years', '65-69 years',
             '70-74 years', '75-79 years', '80 or older']

cleaned_df['_AGEG5YR'] = pd.Categorical(cleaned_df['_AGEG5YR'], categories=age_order, ordered=True)

# changing _AGE65YR values: 1: Age 18 to 64, 2: Age 65 or older, 9: Not sure/Refused/Missing
cleaned_df['_AGE65YR'] = cleaned_df['_AGE65YR'].replace({1: 'Age 18 to 64', 2: 'Age 65 or older', 9: 'Not sure/Refused/Missing'})

# changing _EDUCAG values:
#   1: Did not graduate High School
#   2: Graduated High School
#   3: Attended College or Technical School
#   4: Graduated from College or Technical School
#   9: Not sure/Refused/Missing
cleaned_df['_EDUCAG'] = cleaned_df['_EDUCAG'].replace({1: 'Did not graduate High School', 2: 'Graduated High School', 3: 'Attended College or Technical School', 4: 'Graduated from College or Technical School', 9: 'Not sure/Refused/Missing'})

# changing _INCOMG1 values:
#   1: Less than $15,000
#   2: $15,000 - $25,000
#   3: $25,000 - $35,000
#   4: $35,000 - $50,000
#   5: $50,000 - $100,000
#   6: $100,000 - $200,000
#   7: $200,000 or more
#   9: Not sure/Refused/Missing
cleaned_df['_INCOMG1'] = cleaned_df['_INCOMG1'].replace({1: 'Less than $15,000', 2: '$15,000 - $25,000', 3: '$25,000 - $35,000', 4: '$35,000 - $50,000', 5: '$50,000 - $100,000', 6: '$100,000 - $200,000', 7: '$200,000 or more', 9: 'Not sure/Refused/Missing'})

# changing _RFSMOK3 values:
#   1: Not a current smoker
#   2: Current smoker
#   9: Not sure/Refused/Missing
cleaned_df['_RFSMOK3'] = cleaned_df['_RFSMOK3'].replace({1: 'Not a current smoker', 2: 'Current smoker', 9: 'Not sure/Refused/Missing'})

rfsmok_order = ['Not a current smoker', 'Current smoker']
cleaned_df['_RFSMOK3'] = pd.Categorical(cleaned_df['_RFSMOK3'], categories=rfsmok_order, ordered=True)

# Set non-numeric responses to NaN for relevant health columns
for col in ['MENTHLTH', 'PHYSHLTH', 'POORHLTH', 'ALCDAY4', 'AVEDRNK3', 'DRNK3GE5', 'MAXDRNKS']:
    cleaned_df[col] = pd.to_numeric(cleaned_df[col], errors='coerce')

In [57]:
def replace_with_nan(df, cols, values):
    for col in cols:
        df[col] = df[col].replace(values, np.nan)
    return df

# Columns where non-informative responses should be converted to NaN
non_informative_values = ['Not sure', 'Refused', 'Don\'t know/Refused/Missing']

# Replace non-informative values with NaN
cols_to_replace_nan = ['GENHLTH', 'MENTHLTH', 'PHYSHLTH', 'POORHLTH', 'EXERANY2', 'CHCSCNC1', 'CHCOCNC1', 
                       'CHCCOPD3', 'DIABETE4', 'MARITAL', 'EDUCA', 'EMPLOY1', 'INCOME3', 'SMOKE100', 
                       'SMOKDAY2', 'ALCDAY4', 'AVEDRNK3', 'DRNK3GE5', 'MAXDRNKS', 'FLUSHOT7', 'HIVTST7', 
                       '_TOTINDA', '_RACEGR3', '_AGEG5YR', '_AGE65YR', '_EDUCAG', '_INCOMG1', '_RFSMOK3']

cleaned_df = replace_with_nan(cleaned_df, cols_to_replace_nan, non_informative_values)


# Set columns to numeric if they contain numeric values and NaNs for non-informative entries
numeric_cols = ['MENTHLTH', 'PHYSHLTH', 'POORHLTH', 'ALCDAY4', 'AVEDRNK3', 'DRNK3GE5', 'MAXDRNKS']
cleaned_df[numeric_cols] = cleaned_df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Quick check to see unique values across each column after cleaning
for col in cleaned_df.columns:
    print(f"Unique values in {col}: {cleaned_df[col].unique()}")

Unique values in GENHLTH: ['Very good', 'Fair', 'Good', 'Poor', 'Excellent', NaN]
Categories (5, object): ['Excellent' < 'Very good' < 'Good' < 'Fair' < 'Poor']
Unique values in PHYSHLTH: [nan  6.  2.  8.  1.  5.  4. 30. 15. 21. 10. 25. 14.  7. 20.  3. 12. 26.
  9. 24. 18. 13. 28. 23. 16. 17. 11. 29. 27. 22. 19.]
Unique values in MENTHLTH: [nan  2.  3. 10. 25.  5. 30. 20. 15. 12.  4.  1.  6. 21. 14.  7. 29.  8.
 18. 16. 17.  9. 28. 13. 22. 11. 24. 27. 23. 26. 19.]
Unique values in POORHLTH: [nan  1. 30. 25.  9.  5. 14.  2.  3. 10. 15.  7.  8. 20.  4. 28.  6. 18.
 13. 12. 16. 29. 26. 21. 23. 22. 27. 19. 11. 17. 24.]
Unique values in EXERANY2: ['No' 'Yes' nan]
Unique values in CHCSCNC1: ['No' 'Yes' nan]
Unique values in CHCOCNC1: ['No' 'Yes' nan]
Unique values in CHCCOPD3: ['No' 'Yes' nan]
Unique values in DIABETE4: ['Yes' 'No' 'Yes, but female told only during pregnancy' nan
 'No, pre-diabetes or borderline diabetes']
Unique values in MARITAL: ['Married' 'Divorced' 'Widowed' 'A member of an unmarried couple'
 'Never married' 'Separated' nan]
Unique values in EDUCA: ['College 1 year to 3 years (Some college or te..., 'Grade 12 or GED (High school graduate)', 'College 4 years or more (College graduate)', 'Grades 9 through 11 (Some high school)', 'Grades 1 through 8 (Elementary)', NaN, 'Never attended school or only kindergarten']
Categories (6, object): ['Never attended school or only kindergarten' < 'Grades 1 through 8 (Elementary)' < 'Grades 9 through 11 (Some high school)' < 'Grade 12 or GED (High school graduate)' < 'College 1 year to 3 years (Some college or te... < 'College 4 years or more (College graduate)']
Unique values in EMPLOY1: ['Retired' 'Unable to work' 'Out of work for less than 1 year'
 'Employed for wages' 'A homemaker' 'Self-employed' nan 'A student'
 'Out of work for 1 year or more']
Unique values in INCOME3: [NaN, 'Less than $15,000', 'Less than $50,000', 'Less than $100,000', 'Less than $20,000', ..., 'Less than $25,000', 'Less than $10,000', 'Less than $75,000', 'Less than $200,000', 'Less than $150,000']
Length: 11
Categories (11, object): ['Less than $10,000' < 'Less than $15,000' < 'Less than $20,000' < 'Less than $25,000' ... 'Less than $100,000' < 'Less than $150,000' < 'Less than $200,000' < '$200,000 or more']
Unique values in SMOKE100: ['No' 'Yes' nan]
Unique values in SMOKDAY2: [nan 'Not at all' 'Every day' 'Some days']
Unique values in ALCDAY4: [8.88000000e+02 4.60273771e-01 1.15068443e+00 2.00000000e+00
 6.90410656e+00 2.30136885e+00 6.90410656e-01 2.30136885e-01
 7.00000000e+00 9.20547542e-01 1.00000000e+00 1.38082131e+00
 6.00000000e+00 3.45205328e+00 3.00000000e+00 3.22191640e+00
 4.00000000e+00 9.99000000e+02 4.60273771e+00 6.67396968e+00
 7.77000000e+02 4.83287459e+00 5.75342214e+00 5.00000000e+00
 6.44383279e+00 2.76164263e+00 1.61095820e+00 1.84109508e+00
 5.52328525e+00 3.68219017e+00 4.37260082e+00 6.21369591e+00
 4.14246394e+00 2.07123197e+00 5.98355902e+00 3.91232705e+00
 5.29314836e+00 2.53150574e+00 5.06301148e+00 2.99177951e+00]
Unique values in AVEDRNK3: [ 2.  1.  4.  5.  6.  3. nan 12. 10.  7. 20. 14.  9. 15.  8. 16. 40. 13.
 18. 11. 60. 76. 30. 24. 27. 36. 70. 69. 25. 22. 50. 17. 23. 62. 75. 32.
 52. 48. 45. 21. 59. 46. 35. 28. 42. 63. 73. 19. 29. 64.]
Unique values in DRNK3GE5: [nan  2. 30.  3. 10.  1.  7.  4.  8.  5.  6. 15. 20. 14. 16. 12.  9. 25.
 28. 31. 27. 17. 24. 11. 29. 19. 26. 18. 76. 69. 13. 22. 23. 21. 50. 52.
 32. 45. 40. 64. 36. 48. 55. 60. 73. 39.]
Unique values in MAXDRNKS: [nan  1.  2.  3.  6.  5.  4.  8. 10. 12.  7. 14. 15. 19. 40. 32.  9. 25.
 24. 18. 20. 30. 13. 11. 45. 16. 50. 60. 69. 23. 22. 76. 17. 26. 36. 70.
 75. 27. 21. 35. 38. 28. 44. 31. 42. 46. 72. 33. 74. 64. 34. 47. 37. 61.
 73. 52. 56. 48. 43. 41. 29. 65.]
Unique values in FLUSHOT7: ['No' 'Yes' nan]
Unique values in HIVTST7: ['No' 'Yes' nan]
Unique values in _TOTINDA: ['No' 'Yes' 'Not sure/Refused/Missing']
Unique values in _RACEGR3: ['White only, Non-Hispanic' 'Black only, Non-Hispanic' 'Not sure/Refused'
 'Other race only, Non-Hispanic' 'Multiracial, Non-Hispanic' 'Hispanic'
 nan]
Unique values in _AGEG5YR: ['80 or older', '75-79 years', '60-64 years', '55-59 years', '65-69 years', ..., '50-54 years', '25-29 years', '18-24 years', NaN, '30-34 years']
Length: 14
Categories (13, object): ['18-24 years' < '25-29 years' < '30-34 years' < '35-39 years' ... '65-69 years' < '70-74 years' < '75-79 years' < '80 or older']
Unique values in _AGE65YR: ['Age 65 or older' 'Age 18 to 64' 3.0]
Unique values in _EDUCAG: ['Attended College or Technical School' 'Graduated High School'
 'Graduated from College or Technical School'
 'Did not graduate High School' 'Not sure/Refused/Missing']
Unique values in _INCOMG1: ['Not sure/Refused/Missing' 'Less than $15,000' '$50,000 - $100,000'
 '$35,000 - $50,000' '$100,000 - $200,000' '$15,000 - $25,000'
 '$25,000 - $35,000' '$200,000 or more']
Unique values in _RFSMOK3: ['Not a current smoker', 'Current smoker', NaN]
Categories (2, object): ['Not a current smoker' < 'Current smoker']